{% extends 'library/index.html' %}

{% block content %}
<h2>Rejestracja</h2>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td><strong>Nazwa użytkownika:</strong></td><td>{{ form.username }}</td>
        </tr>
        <tr>
            <td><strong>Adres e-mail:</strong></td><td>{{ form.email }}</td>
        </tr>
        <tr>
            <td><strong>Hasło:</strong></td><td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="Submit" value="Zarejestruj">
</form>

{% endblock %}